database/data
# wordpress/wp-content/plugins/tour-booking-manager.bak

/*
!/wordpress
/wordpress/*
!/wordpress/wp-content/plugins
/wordpress/wp-content/plugins/*
!/wordpress/wp-content/plugins/MY_SUPER_DUPER_TEMPLATE_directorytour-booking-manager.bak