[submodule "wordpress/wp-content/plugins/test-plugin"]
	path = wordpress/wp-content/plugins/test-plugin
	url = https://github.com/raselsha/test-plugin.git

[submodule "wordpress/wp-content/plugins/plain-slider"]
	path = wordpress/wp-content/plugins/plain-slider
	url = https://github.com/raselsha/plain-slider.git

[submodule "wordpress/wp-content/plugins/tour-booking-manager"]
	path = wordpress/wp-content/plugins/tour-booking-manager
	url = https://github.com/magepeopleteam/tour-booking-manager.git

[submodule "wordpress/wp-content/plugins/tour-booking-manager-pro"]
	path = wordpress/wp-content/plugins/tour-booking-manager-pro
	url = https://github.com/magepeopleteam/tour-booking-manager-pro.git

[submodule "wordpress/wp-content/plugins/ttbm-addon-group-pricing"]
	path = wordpress/wp-content/plugins/ttbm-addon-group-pricing
	url = https://github.com/magepeopleteam/ttbm-addon-group-pricing.git
[submodule "wordpress/wp-content/plugins/ttbm-addon-seasonal-price"]
	path = wordpress/wp-content/plugins/ttbm-addon-seasonal-price
	url = https://github.com/magepeopleteam/ttbm-addon-seasonal-price.git
[submodule "wordpress/wp-content/plugins/ttbm-addon-early-bird"]
	path = wordpress/wp-content/plugins/ttbm-addon-early-bird
	url = https://github.com/magepeopleteam/ttbm-addon-early-bird.git
[submodule "wordpress/wp-content/plugins/ttbm-addon-seat-plan"]
	path = wordpress/wp-content/plugins/ttbm-addon-seat-plan
	url = https://github.com/magepeopleteam/ttbm-addon-seat-plan.git
[submodule "wordpress/wp-content/plugins/ttbm-addon-backend-order"]
	path = wordpress/wp-content/plugins/ttbm-addon-backend-order
	url = https://github.com/magepeopleteam/ttbm-addon-backend-order.git
[submodule "wordpress/wp-content/plugins/bus-ticket-booking-with-seat-reservation"]
	path = wordpress/wp-content/plugins/bus-ticket-booking-with-seat-reservation
	url = https://github.com/magepeopleteam/bus-ticket-booking-with-seat-reservation.git

